
<select id="language-selector" name="language" onchange="changeLanguage()">
    <option value="en">English</option>
    <option value="bn">Bangla</option>
    <option value="fr">Français</option>
    <option value="fr">Spanish</option>
    <!-- Add more language options as needed -->
</select>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="{{ 'scripts.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "Multigual Translator",
  "target": "section"
}
{% endschema %}

